In [4]:
import pandas as pd

# Try using ISO-8859-1 encoding (often works with such files)
df = pd.read_csv("sales_data_sample.csv", encoding='ISO-8859-1')

# Now inspect the data
print(df.head())

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

In [5]:
# Check for null values
print(df.isnull().sum())

# Drop rows with missing values
df = df.dropna()  # or use fillna() if you want to impute missing data

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [6]:
# Check for duplicate rows
print(f"Duplicate rows: {df.duplicated().sum()}")

# Drop duplicates
df = df.drop_duplicates()

Duplicate rows: 0

In [8]:
# Clean column names: lowercase and replace spaces
df.columns = df.columns.str.lower().str.replace(' ', '_')

# Optional: standardize 'status' column or 'productline'
if 'status' in df.columns:
    df['status'] = df['status'].str.upper()

if 'productline' in df.columns:
    df['productline'] = df['productline'].str.title()

In [9]:
# Convert orderdate to datetime if present
if 'orderdate' in df.columns:
    df['orderdate'] = pd.to_datetime(df['orderdate'], errors='coerce')

In [10]:
# Convert prices to float if needed
if 'priceeach' in df.columns:
    df['priceeach'] = df['priceeach'].astype(float)

if 'quantityordered' in df.columns:
    df['quantityordered'] = df['quantityordered'].astype(int)

In [11]:
print("✅ Data cleaned successfully!")
print("Final shape:", df.shape)

✅ Data cleaned successfully!
Final shape: (147, 25)

In [12]:
df.to_csv('sales_data_cleaned.csv', index=False)